body {
  /* color: #171717; */
  background-color: #eddfcb;
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 36px;
  color: #333333;
  font-family: 'Archivo' !important;
  margin: 3px;
  margin-bottom: 20px;
}

.metadata {
  color: #333333;
  font-size: 20px;
  line-height: 1.25;
  margin: 3px;
  margin-bottom: 20px;
}

.breadcrumbs {
  margin: 5px;
  margin-top: 20px;
  font-size: 14px;
  color: #007bff;
  font-style: italic;
}

.breadcrumbs a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.2s;
}

.breadcrumbs a:hover {
  color: #0056b3;
}

.button-container {
  display: flex; /* Use flexbox to align buttons horizontally */
}

.button {
  padding: 5px 5px; /* Adjust padding as needed */
  margin: 3px; /* Add margin between the buttons */
  margin-bottom:10px;
  background-color: #ffffff;
  border: 1px solid #007bff; /* Add a border with your desired color */
  color: #007bff; /* Button text color */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

.button:hover {
  background-color: #007bff; /* Change the background color on hover */
  color: #fff; /* Change text color on hover */
}

.link a {
  text-decoration: none;
  color: #007bff; /* Default text color for links */
}

.link a:hover {
  color: #0056b3; /* Default text color for links */
}

.link a:visited {
  color: #0056b3; /* Default text color for links */
}



#myDiv a {
  /* font-size: 17px;
  color: #800020;
  text-decoration: underline;
  text-decoration-thickness: 0.75px;
  margin-right: 4px;
  line-height: 1.5; */

  display: inline-block;
  padding: 4px 8px; /* Adjust the padding to your preference */
  border-radius: 20px; /* This value controls the roundness of the corners */
  background-color: #007bff; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  text-decoration: none;
  margin: 3px; /* Add some margin between the links */
  line-height: 1.1; /* Set line-height to 1 to reduce vertical space */
  font-size: 15px;
}

#myDiv a:hover {
  background-color: #0056b3; /* Change the hover background color */
}