body {
  /* color: #171717; */
  background-color: #eddfcb;
  font-family: 'Open Sans', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 36px;
  color: #333333;
  font-family: 'Archivo' !important;
  margin: 3px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restartlink a{
  color: #666666;
  text-decoration: none;
}

.metadata {
  color: #333333;
  font-size: 20px;
  line-height: 1.25;
  margin: 3px;
  margin-bottom: 20px;
}

.breadcrumbs {
  margin: 5px;
  margin-top: 20px;
  font-size: 14px;
  color: #666666;
  font-style: italic;
}

.breadcrumbs a {
  text-decoration: none;
  color: #666666;
  transition: color 0.2s;
}

.breadcrumbs a:hover {
  color: #ad3a76;
}

.button-container {
  display: flex; /* Use flexbox to align buttons horizontally */
  margin-bottom:5px;
}

.button {
  padding: 5px 5px; /* Adjust padding as needed */
  margin: 3px; /* Add margin between the buttons */
  margin-bottom:10px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 14px;
  color: #333333;
  background-color: #ddb5ca;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}


.button:hover {
  color: #241c15;
  background-color: #db9ebe;
}



.link a {
  text-decoration: none;
  color: #ad3a76; /* Default text color for links */
}

.link a:hover {
  color: #842355; /* Default text color for links */
}

.link a:visited {
  color: #842355; /* Default text color for links */
}


#myDiv a {
  display: inline-block;
  padding: 4px 8px; /* Adjust the padding to your preference */
  border-radius: 20px; /* This value controls the roundness of the corners */
  background-color: #ad3a76; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  text-decoration: none;
  margin: 3px; /* Add some margin between the links */
  line-height: 1.1; /* Set line-height to 1 to reduce vertical space */
  font-size: 15px;
  transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}

#myDiv a:hover {
  background-color: #842355; /* Change the hover background color */
}